 {{template "header". }}
 <body>
 {{template "nav". }}
    <header class="intro-header" style="background-image: url('static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{.About}}
            </div>
        </div>
    </div>

    <hr>
    {{template "comment" .}}
    {{template "footer" .}}

</body>

</html>
