    {{template "header" .}}
    <body>
    {{template "nav" .}}
    <header class="intro-header" style="background-image: url('static/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Archive</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{range .Articles}}
                <div class="post-preview">
                    <a href="{{.Link}}">
                        <h3 >
                            {{.ConfigArticle.Title}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{.ConfigArticle.Author}}</a> {{.ConfigArticle.Date}}</p>
                </div>
                <hr>
              {{end}}
            </div>
        </div>
    </div>

    <hr>

    {{template "comment" .}}
    {{template "footer" .}}

</body>

</html>
