{{template "header" .}}
<body>
{{template "nav" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{.ConfigArticle.Title}}</h1>
                        <span class="meta">Posted by <a href="#">{{.ConfigArticle.Author}}</a> {{.ConfigArticle.Date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{.Content}}
                </div>
            </div>
        </div>
    </article>

    <hr>

{{template "comment" .}}
{{template "footer" .}}

</body>

</html>
